<footer class="ecommerce-footer">
    <div class="container">
        <div class="row footer-theme partition-f">
            <div class="col-lg-4 col-md-12">
                <div class="footer-title footer-mobile-title">
                    <h4>About Pitch Pursuit</h4>
                </div>
                <div class="footer-contant">
                    <div class="footer-logo"><img alt="" class="logo-image" src="assets/images/logo/pitch-pursuit.png"></div>
                    <p>Explore and book top-notch turf playgrounds for football, cricket, and more. Pitch Pursuit, developed by Timothy Thomas, brings sports enthusiasts together for an exciting playing experience.</p>
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i aria-hidden="true" class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col offset-xl-1">
                <div class="sub-title">
                    <div class="footer-title">
                        <h4>Explore</h4>
                    </div>
                    <div class="footer-contant">
                        <ul>
                            <li><a href="#">Football Turfs</a></li>
                            <li><a href="#">Cricket Grounds</a></li>
                            <li><a href="#">Upcoming Events</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="sub-title">
                    <div class="footer-title">
                        <h4>Support</h4>
                    </div>
                    <div class="footer-contant">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="sub-title">
                    <div class="footer-title">
                        <h4>Connect</h4>
                    </div>
                    <div class="footer-contant">
                        <ul class="contact-list">
                            <li><i class="fa fa-envelope-o"></i>Email Us: support&#64;pitchpursuit.com</li>
                            <li><i class="fa fa-phone"></i>Call Us: 123-456-7898</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p><i aria-hidden="true" class="fa fa-copyright"></i> 2024 Pitch Pursuit powered by
                            Timothy Thomas</p>
                    </div>
                </div>
                <!-- <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img alt="" src="assets/images/icon/visa.png"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/icon/mastercard.png"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/icon/paypal.png"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/icon/american-express.png"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/icon/discover.png"></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<app-tap-to-top></app-tap-to-top>
