<!-- Nav Start-->
<header class="ecommerce">
  <div class="container">
      <div class="row">
          <div class="col">
              <nav>
                  <a class="logo-erapper" href="#"><img alt="" class="logo-image"
                                                        src="assets/images/logo/pitch-pursuit.png"></a>
                 <app-menu></app-menu>
                  <div class="top-header-right">
                      <ul>
                          <li class="account ">
                              <a aria-expanded="false" data-toggle="dropdown" href="#" id="dropdownMenuButton2">
                                  <i class="icon-user"></i>
                              </a>
                              <div aria-labelledby="dropdownMenuButton2" class="dropdown-menu show dropdown-menu-right">
                                <a class="dropdown-item" href="#">Account</a>
                                <a class="dropdown-item" (click)="logout()">Logout</a>
                                  <!-- <a class="dropdown-item" href="#">Whishlist</a> -->
                                  <!-- <a class="dropdown-item" href="#">Checkout</a> -->
                              </div>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- Nav end-->