.background-section {
	--tw-bg-opacity: 1;
	background-color: rgba(30,41,59,var(--tw-bg-opacity));
}

.bg-blueGray-200 {
	background-color: #e2e8f0;
}

.bg-blueGray-800 {
	background-color: #1e293b;
}

.text-blueGray-200 {
	color: #e2e8f0;
}