<section class="relative w-full h-full py-40 min-h-screen">
	<div class="absolute top-0 w-full h-full background-section bg-no-repeat bg-full">
		<video autoplay muted loop playsinline class="w-full h-full object-cover">
			<source src="assets/images/football/champions-league.mp4" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>

	<div class="container mx-auto px-4 h-full">
		<div class="flex content-center items-center justify-center h-full">
			<div class="w-full lg:w-6/12 px-4">
				<div
					class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
					<div class="rounded-t mb-0 px-6 py-6">
						<div class="text-center mb-3">
							<h6 class="text-blueGray-500 text-sm font-bold">Sign up with</h6>
						</div>
						<div class="btn-wrapper text-center">
							<button
								class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-2 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
								type="button">
								<img alt="..." class="w-5 mr-1" src="assets/images/img/github.svg" />
								Github
							</button>
							<button
								class="bg-white active:bg-blueGray-50 text-blueGray-700 font-normal px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 uppercase shadow hover:shadow-md inline-flex items-center font-bold text-xs ease-linear transition-all duration-150"
								type="button">
								<img alt="..." class="w-5 mr-1" src="assets/images/img/google.svg" />
								Google
							</button>
						</div>
						<hr class="mt-6 border-b-1 border-blueGray-300" />
					</div>
					<div class="flex-auto px-4 lg:px-10 py-10 pt-0">
						<div class="text-blueGray-400 text-center mb-3 font-bold">
							<small>Or sign up with credentials</small>
						</div>
						<!-- Registration Form -->
						<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
							<!-- Name Input -->
							<div class="relative w-full mb-3">
								<label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="name">Name</label>
								<input type="text" id="name" formControlName="name"
									class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									placeholder="Name" />
								<!-- Display validation error -->
								<div *ngIf="formControls.name.invalid && formControls.name.touched" class="text-red-500 text-xs mt-1">
									Name is required
								</div>
							</div>

							<div class="relative w-full mb-3">
								<label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
									Email
								</label>
								<input type="email" formControlName="email"
									class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									placeholder="Email" />
								<div *ngIf="formControls.email.invalid && formControls.email.touched" class="text-red-500 text-xs mt-1">
									Email is required
								</div>
							</div>

							<div class="relative w-full mb-3">
								<label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlFor="grid-password">
									Password
								</label>
								<input type="password" formControlName="password"
									class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
									placeholder="Password" />
								<div *ngIf="formControls.password.invalid && formControls.password.touched"
									class="text-red-500 text-xs mt-1">
									Password is required
								</div>
							</div>

							<!-- Submit Button -->
							<div class="text-center mt-6">
								<button
									class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150">
									Create Account
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>